.App-header {
  max-width: 360px;
  margin: 20px auto;
  padding: 20px;
  background-color: blanchedalmond;
  border-radius: 20px;
  text-align: center;
}

.App-male {
  background-color: blue;
  color: white;
}

.App-female {
  background-color: pink;
}
